<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
         layout:decorate = "~{mainLayout}">

<div layout:fragment = "content" class="bg">
<div  class="mx-auto">
    <div class="card shadow-lg mx-auto" style="width: 30rem; border-radius: 1.5rem;">
        <div class="card-body">
            <div class="mx-auto text-center">
                <img  src="/images/logo.png" alt="EpayDigital">
            </div>
            <h4 class="text-center font-weight-light">Add Card</h4>
            <form   th:action="@{card}" method="post" th:object="${cardDomain}" class="mt-5">
                <div class="form-group">
                    <input th:field="*{cardnumber}" type="text" class="form-control"  style="height: 2rem;"  placeholder="Debit or Credit card Number">
                </div>
                <div class="form-group mt-2">
                    <input th:field="*{expMonth}" type="text" class="form-control"  style="height: 2rem;"  placeholder="Expiry Month">
                </div>
                <div class="form-group mt-2">
                    <input th:field="*{expYear}" type="text" class="form-control"  style="height: 2rem;" placeholder="Expiry Year">
                </div>
                <div class="form-group mt-2">
                    <input th:field="*{securityCode}" type="text" class="form-control"  style="height: 2rem;"  placeholder="Security Code">
                </div>
                <div class="form-group mt-2">
                    <input th:field="*{billingAddress}" type="text" class="form-control"  style="height: 2rem;"  placeholder="Billing Address">
                </div>
                <div class="text-center mt-2">
                    <button   type="submit" class="btn btn-outline-primary" style="width: 18rem; border-radius: 15rem;">Add Card</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
</html>